.section {
  height: 100vh;
  width: 100%;
  position: relative;

}
body {
  background-color: #2B352B;
}

/* wrapper der holder alt på plads når sektionen er pinned */
.inner {
  position: relative;
  width: 100%;
  height: 100%;  overflow: hidden; /* vigtig: forhindrer hop og flashing */
}

/* INTRO TITLE */
.introTitle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  text-align: center;
}

/* INTRO TEXT */
.introText {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  text-align: center;
  max-width: 500px;
  
}

.bubbleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* responsiv størrelse */
  width: min(90vw, 900px);  /* maks 900px, ellers 90% af viewport-bredden */
  aspect-ratio: 900 / 650;  /* holder samme form på hele scenen */

  pointer-events: none; /* bare så man ikke klikker på den ved en fejl */
}


/* HUND I MIDTEN */
.dogCenter {
 position: absolute;
  width: 39%;     
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 1;
}

.bubble1 {
  position: absolute;
  top: 6%;            
  left: 49.8%;
  transform: translateX(-50%);
  width: 38%;             
  opacity: 0;
  z-index: 5;
}

.bubble2 {
   position: absolute;
  top: 51.7%;        
  right: 1.4%;             
  transform: translateY(-50%);
  width: 29.8%;        
  opacity: 0;
  z-index: 5;
}

.bubble3 {
 position: absolute;
  bottom: 1%;    
  left: 50%;
  transform: translateX(-50%);
  width: 38%;            
  opacity: 0;
  z-index: 5;
}

.bubble4 {
 position: absolute;
  top: 51.4%;
  left: 1.4%;        
  transform: translateY(-50%);
  width: 29.8%;      
  opacity: 0;
  z-index: 5;
}