.section {
  height: 100vh;
  width: 100%;
  position: relative;

}
body {
  background-color: #2B352B;
}

/* wrapper der holder alt på plads når sektionen er pinned */
.inner {
  position: relative;
  width: 100%;
  height: 100%;  overflow: hidden; /* vigtig: forhindrer hop og flashing */
}

/* INTRO TITLE */
.introTitle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  text-align: center;
}

/* INTRO TEXT */
.introText {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  text-align: center;
  max-width: 500px;
  
}

/* HUND I MIDTEN */
.dogCenter {
  position: absolute;
  top: 45%;                 /* stabil placering */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.bubble1 {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-51%);
  width: 295px;
  opacity: 0; /* meget vigtigt */
  z-index: 10;
}

.bubble2 {
  position: absolute;
  top: 34%;
  left: 67%;
  transform: translateX(-50%);
  width: 230px;
  opacity: 0; /* meget vigtigt */
  z-index: 10;
}