* {

}
.section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #6e1a11;
}

.container {
  width: 1300px;
  height: 700px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}
.clockWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
}

/* Selve clock.svg */
.clock {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: auto;
}

/* Minutviseren */
.minuteHand {
  position: absolute;
  top: 150px;
  left: 200px;
  width: 12px;
  height: auto;
  transform: translate(-50%, -50%);
  transform-origin: 50% 95%;
}

/* Timeviseren */
.hourHand {
  position: absolute;
  top: 160px;
  left: 200px;
  width: 12px;
  height: auto;
  transform: translate(-50%, -50%);
  transform-origin: 50% 95%;
}

.six {
  position: absolute;
  top: 53.9%;
  left: 50.9%;
  width: 100px;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.overskrift {
  opacity: 1;
  color: white;

  position: absolute;
  top: 0;
  font-family: var(--font-knewave);
  font-size: 3rem;
}

.tekstTimer {
  color: white;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  font-family: var(--font-knewave);
}

.brodTekst {
  color: white;
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 75%;
  font-family: var(--font-hel-light);
  font-weight: lighter;

  font-size: 1.5rem;
}
.dogDoor {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 20%;
  width: 200px;
  height: auto;
  transform: translate(-50%, -50%);
}

.cardSection {
  position: absolute;
  inset: 0;           /* fylder hele containeren */
}
.cardSection h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: var(--font-knewave);
text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);

}
.cardWrapper {
position: relative;
top: 50%;
left: -150%;
}
.card1,
.card2,
.card3,
.card4 {
  width: 240px;
  height: auto;
  display: block;
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.12));
  opacity: 1;
}
.card2,.card4{
  margin-top: -10%;
}
.card1{
  position: absolute;
  top: 40%;
  left: -1%;
}
.card2{
  position: absolute;
  top: 40%;
  left: 21%;
}
.card3{
  position: absolute;
  top: 40%;
  left: 43%;
}
.card4{
  position: absolute;
  top: 40%;
  left: 65%;
}

.outro{

}

.outroHeading{
  color: white;
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-family: var(--font-knewave);
text-transform: uppercase;
  opacity: 1;
  position: 
  relative;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.outroHeadingRed {
  color: #ff4b4b; /* eller var(--brand-red) hvis du har sådan én */
  font-size: 2rem;
}

.outro p{
  color: white;
  opacity: 1;
  font-family: var(--font-hel-light);
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10%;
}


.outro {
  position: absolute;
  top: 10%;

}


.dogRow {
  display: flex;
  gap: 20px;
  margin-top: 24px;
  align-items: end;
}

.doggie1{
  width: 120px;
  height: auto;
}
.doggie2{
  width: 170px;
  height: auto;
}
.doggie3{
  width: 220px;
  height: auto;
}
.doggie4{
  width: 280px;
  height: auto;
}
.doggie5{
  width: 380px;
  height: auto;
}